body{
    background-color: #ffed9d;
    background-color: #ffe98a;
    background-color: #fff3bd;
    background-color: #280b45;
    background-color: #411271;
    background-color: #0e0419;
}